<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title> Careers Website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
  </head>

  <body>
    {% include 'navbar.html' %}
        <img src="https://careers-website.cristiancassett.repl.co/static/splash-img.jpg" class="img-fluid" id="splash">
    <div class="container mt-5">
        <h1 class="text-center mb-4">Careers</h1>
        <div class="row mb-4 mt-4 align-items-center">
          <div class="col-md-6">
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="col-6 d-none d-md-block">
            <img src="/static/people.jpg" id="people-img">
          </div>
          </div>
        <h2 class=" text-center mt-5 mb-4">Open Positions</h2>
        <div class="mt-2 mb-4">
          {% for job in jobs%}
            {% include 'job-item.html' %}
          {% endfor %}
      <div class="text-center">
        <button class="btn btn-outline-warning btn-lg mb-5">Contact us</button>
      </div>
      
    </div>
      
        {% include 'footer.html' %}
      
  </body>
  
</html>